# Node
{
  'job_name': 'omnibus_node',
  'static_configs': [
    'targets': [
{% for ip in (gitlab_rails_int_addrs + sidekiq_int_addrs + praefect_int_addrs + gitaly_int_addrs + pgbouncer_int_addrs + postgres_int_addrs + redis_int_addrs + redis_cache_int_addrs + redis_persistent_int_addrs + [praefect_postgres_int_addr]) if ip != '' %}
      "{{ ip }}:9100",
{% endfor %}
    ],
  ],
},
# NGINX
{
  'job_name': 'omnibus_nginx',
  'static_configs': [
    'targets': [
{% for ip in gitlab_rails_int_addrs %}
      "{{ ip }}:8060",
{% endfor %}
    ],
  ],
},
{% if 'postgres' in groups %}
# Postgres
{
  'job_name': 'postgres',
  'static_configs': [
    'targets': [
{% for ip in (postgres_int_addrs + [praefect_postgres_int_addr]) if ip != '' %}
      "{{ ip }}:9187",
{% endfor %}
    ],
  ],
},
{% endif %}
{% if groups | select('match', 'redis.*') | length > 0 %}
# Redis
{
  'job_name': 'redis',
  'static_configs': [
    'targets': [
{% for ip in (redis_int_addrs + redis_cache_int_addrs + redis_persistent_int_addrs) if ip != '' %}
      "{{ ip }}:9121",
{% endfor %}
    ],
  ],
},
{% endif %}
{% if 'gitaly' in groups %}
# Gitaly
{
  'job_name': 'gitaly',
  'static_configs': [
    'targets': [
{% for ip in gitaly_int_addrs %}
      "{{ ip }}:9236",
{% endfor %}
    ],
  ],
},
{% endif %}
# Rails
{
  'job_name': 'gitlab-rails',
  'metrics_path': "/-/metrics",
  'static_configs': [
    'targets': [
{% for ip in gitlab_rails_int_addrs %}
      "{{ ip }}:8080",
{% endfor %}
    ],
  ],
},
# Workhorse
{
  'job_name': 'gitlab-workhorse',
  'static_configs': [
    'targets': [
{% for ip in gitlab_rails_int_addrs %}
      "{{ ip }}:9229",
{% endfor %}
    ],
  ],
},
# Sidekiq
{
  'job_name': 'sidekiq',
  'static_configs': [
    'targets': [
{% for ip in (sidekiq_int_addrs if 'sidekiq' in groups else gitlab_rails_int_addrs) %}
      "{{ ip }}:8082",
{% endfor %}
    ],
  ],
},