postgresql['sql_replication_password'] = "{{ geo_sql_replication_password_md5 }}"
{% if geo_primary_postgres_is_ha %}
patroni['replication_slots'] = {
{% for replication_slot in geo_primary_replication_slots %}
    '{{ replication_slot }}' => { 'type' => 'physical' },
{% endfor %}
}

patroni['postgresql']['max_replication_slots'] = {{ ((geo_primary_postgres_count | int) + (geo_secondary_site_count | int)) * 2 }}
patroni['postgresql']['max_wal_senders'] = {{ ((geo_primary_postgres_count | int) + (geo_secondary_site_count | int)) * 2 }}

patroni['replication_password'] = '{{ geo_sql_replication_password }}'

{% if patroni_password is defined %}
patroni['username'] = 'patroni-api'
patroni['password'] = '{{ patroni_password }}'
{% endif %}
{% else %}

{% if geo_primary_is_multi_node %}
geo_primary_role['enable'] = true
{% endif %}

gitlab_rails['db_password'] = "{{ postgres_password }}"

postgresql['sql_user_password'] = "{{ (postgres_password + 'gitlab') | md5 }}"
postgresql['listen_address'] = "{{ geo_primary_site_postgres_int_ip }}"
postgresql['max_replication_slots'] = {{ geo_max_replication_slots }}
{% endif %}
